h1{
       font-size:120px;
       color:blue;
       animation-name: colorchanges;
       animation-duration:5s;
       animation-iteration-count: infinite;
}
body{
       background: url(softball.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}
#first{
	font-size:70px;
	color:red;
        font-family: 'Pacifico', cursive;
}
li{
        font-size:50px;
        color:purple;
        font-family: 'Pacifico', cursive;
}
#okay{
	Height:auto;
	width:50%
}
P{
        font-size:30px;
        color:blue;
        font-family: 'Pacifico', cursive;
}
@keyframes colorchanges{
       0%{color:blue;
         font-size:100px;}
       25%{color:red;
          font-size:80px;}
       50%{color:purple;
          font-size:100px;}
       75%{color:black;
          font-size:80px;}
       100%{color:pink;
          font-size:100px;}
}