h1{
       font-size:120px;
       color:light blue;
}
body{
       background: url(softball.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}
#first{
	font-size:70px;
	color:red;
}
#second{
        font-size:50px:
        color:pink;
}